<h3>Home</h3>

I have a few links here:

<ul>
	<li><a href="/friends">See my friends</a></li>
	<li><a href="/hobbies"> See my hobbies</a></li>
</ul>

<p>Check out my slick new app: <a href="/gmailapp">Gmail Filter Maker</a></p>

