<html>
	<head>
		<title>Lil' Gmail Filter Maker</title>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
		<h1><a href="/index">Lil' <span class="g">G</span>mail <span class="label">Filter</span> Maker</a></h1>
		<%= yield %>
		<footer>made with <a href="http://www.wikipedia.org/en/chocolate" title="yep, chocolate" target="blank">chocolate</a> by <a href="http://www.emilysommer.com" title="go to emilysommer.com" target="blank">emilysommer</a></footer>
	</body>
</html>